<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">





	<bean id="student" class="org.ljn.entity.Student">
		<property name="name" value="ljn"/>
		<property name="number" value="123"/>
	</bean>
	
	<bean id="teacher" class="org.ljn.entity.Teacher" autowire="byType">
		<property name="name" value="ljn"></property>
	
	</bean>
	<bean id="teacher1" class="org.ljn.entity.Teacher" autowire="byName">
		<property name="name" value="ljn"></property>
	
	</bean>
	<bean id="teacher2" class="org.ljn.entity.Teacher" autowire="constructor">
		<property name="name" value="ljn"></property>
	
	</bean>
</beans>
